---
layout: default
---

<h2><a href="{{ page.url | absolute_url }}" class="title-link" title="Permalink">{{ page.title }}</a></h2>

{% if page.image %}
<figure class="device-photo">
    <img src="../{{ page.image }}" alt="{{ page.title }}">
</figure>
{% endif %}

{% if page.tags %}
<ul class="tags">
    {% for tag in page.tags %}
    {% assign tag_ex = site.data.device_tags | where: "key", tag | first %}
    <li title="{{ tag_ex.comment }}">{{ tag_ex.label | default : tag }}</li>
    {% endfor %}
</ul>
{% endif %}

<table class="device-specs border">
    <tbody>
        {% for row in site.data.device_spec_rows %}
        {% assign value = page[row.key] %}
        {% if value %}
        <tr>
            <th class="row-head">{{ row.label }}</th>
            <td>
                {{ value | markdownify }}
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>

<div class="device-content">{{ content }}</div>